.home {
  margin: 15px;
  display: flex;
  background-color: #fffff3;
}

.home-map {
  flex: 0.65;
}

.home-list {
  flex: 0.35;
}

@media screen and (max-width: 768px) {
  .home {
    display: flex;
    flex-direction: column;
  }

  .home-map {
    flex: 0.6;
  }

  .home-list {
    flex: 0.4;
  }
}
